<h1> <%= user %> </h1>
<title>Home</title>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:antiquewhite;
        color: black;
    }
    h1 {
    font-size: 3em;
    font-weight: 500;
    color:black;
    letter-spacing: 0px;
    transition: .75s;
    font-family: 'Poppins';
    }
    
    
</style>

